.container{
  max-width: 400px;
  min-height: 500px;
  margin: 0 auto;
  background-color: #efefef;
  box-shadow: 0 0 10px gray;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px 50px;
}

.in {
  color: rgba(0,150,0,1);
}

.ex {
  color: rgba(200,0,0,1);
}

.text-center{
text-align: center;
}

.in_ex_cont{
 display: flex;
 justify-content: space-around;
 background-color: white;
 box-shadow: 0 0 10px gray;
}

.history{
  margin: 0; 
  padding: 0;
}

.history >li {
  display: flex;
  justify-content: space-between;
  box-shadow:0 0 10px gray;
  padding: 10px 15px;
  background-color: white;
  margin: 5px 0;
  border-radius: 4px;
}


.transaction-form input{
  width:100%;
  margin: 10px 0;
  padding: 5px 5px;
}

.del{
  position: relative;
  background-color: lightcoral;
  top: 35px;
  right: 30px;
  color: white;
  cursor: pointer;
  opacity: 0.1;
  transition: opacity 0.3s ease;
}
.del:hover {
  opacity: 1;
}

.submitBtn {
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background-color: green;
}

footer {
  font-weight: bold;
  padding: 5px;
}
